<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Trade Site - Create a Post</title>


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   
    <!-- Custom styles for this template -->
    <link href="/public/css/signin.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <div class="container">

      <form action="/refresh" method="POST">
        <h1 class="h3 mb-3 font-weight-normal">Create an item post</h1>

        <input type="hidden" id="username" name="name" class="form-control" value= "<%= user %>">
        <button type="submit" class="btn btn-sm btn-secondary ">Back</button>

      </form>

      <form action ="/insertItemPost" method ='POST' >

        <input type="hidden" id="uName" name="name" class="form-control"  value= "<%= user %>">
        <input id="itemName" name="iName" class="form-control" placeholder="Dishwasher.. etc" required autofocus>
        <input id="imageURL" name="iURL" class="form-control" placeholder="https://i.imgur.com/HTJVZvF.png" required autofocus>
        <textarea id="description" name="iDes" rows="4" cols="50" placeholder="Slightly used, still in great condition!"></textarea>
        
        <button type="submit" class="btn btn-sm btn-primary ">Create!</button>
    </form>
    
  </body>
</html>